/* Add a black background color to the top navigation */
.topnav {
    width: 100%;
    background-color: #56b4ef;
    overflow: hidden;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
 